<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
<%- include('navbar') %>
<!--slider-->

<section class="test1">
    <div class="parent1">
        <h1 style="font-family: 'Marck Script', cursive; color:white;font-size: 60px;">About us</h1>
        <p style="color:white;" class="lead"> Pixel Perfect Design With Awesome Contents</p>

    </div>
</section>
<p class="w-100 text-center my-5" style="font-size: 40px;"> Our Story</p>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="text-center" style="font-size: 16px;">Consulting represents
                success at realizing the company is going in the wrong direction. The only time the company fails is
                when it is not possible to do a turnaround anymore. We help companies pivot into more profitable
                directions where they can expand and grow. It is inevitable that companies will end up making a few
                mistakes;<br><br> we help them correct these mistakes.
                Consulting represents success at realizing the company is going in the wrong direction. The only
                time the company fails is when it is not possible to do a turnaround anymore. We help companies
                pivot into more profitable directions where they can expand and grow. It is inevitable that
                companies will end up making a few mistakes; we help them correct these mistakes.</p>
        </div>
    </div>
</div>
</section>
<!-- Image section start -->
<section class="my-5">

    <div class="container">
        <div class="row mt-5 justify-content-between">
            <div class="col d-flex justify-content-center"><img src="/img/a3.jpg" class="img-fluid"></div>
            <div class="col d-flex justify-content-center"><img src="/img/a1.jpg" class="img-fluid"></div>
        </div>
        <div class="row mt-5 d-flex justify-content-between">
            <div class="col-12 col-sm-4">
                <h1 class="text-center text-danger display-4 font-weight-bold ml-5 mt-5"> 358</h1>
                <p style="margin-left: 160px;"> Tour has done successfully</p>
            </div>
            <div class="col-12 col-sm-4">
                <h1 class="text-center text-danger display-4 font-weight-bold ml-5 mt-5"> 30</h1>
                <p style="margin-left: 160px;"> Yearly tour arrange</p>
            </div>
            <div class="col-12 col-sm-4">
                <h1 class="text-center text-danger display-4 font-weight-bold ml-5 mt-5"> 2322</h1>
                <p style="margin-left: 160px;"> Happy
                    Clients</p>
            </div>
        </div>
    </div>
</section>


<%- include('footer') %>
</body>
</html>