<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
<%- include('navbar') %>
<!--slider-->

<section class="test">
    <div class="parent">
        <h1 style="font-family: 'Marck Script', cursive; color:white;font-size: 60px;">Contact</h1>
        <p style="color:white;" class="lead"> Pixel Perfect Design With Awesome Contents</p>

    </div>
</section>
<section class="G-map">
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.1556741639747!2d90.39439991429603!3d23.706134196384298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b919a79741db%3A0xe798ade81f9f417c!2sKeraniganj%20Model%20Thana!5e0!3m2!1sen!2sbd!4v1595852947324!5m2!1sen!2sbd"
            width="1200" height="450" frameborder="0" style="border:0; margin-top:100px; margin-bottom: 20px;"
            allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>
<!-- google map section  start-->
<div class="container">

</div>
<!-- google map section  end-->
<div class="container">
    <h4 style="margin-top: 60px;" class="font-weight-bold"> Get In Touch</h4>
    <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="form-group">
                <textarea name="" placeholder="Enter Message" class="form-control mt-3"></textarea>
                <input type="text" placeholder="Enter your name" class="form-control mt-4 py-3">
                <input type="email" placeholder="email" class="form-control mt-4 py-3">
                <input type="text" placeholder="Enter subject" class="form-control mt-4 py-3">
            </div>
            <button style="margin-bottom: 100px;" class="btn  px-5 py-3">Send </button>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12 my-2">
            <div class="d-flex flex-row">
                <span><i class="fas fa-home flex-icon5"></i></span>
                <p>Keranigonj,Dhaka</p>
            </div>
            <p style="padding-left: 155px;">Modal Thana, CA 91770</p>
            <div class="d-flex flex-row"> <span><i class="fas fa-mobile-alt flex-icon5"></i></span>
                <p>+1 253 565 2365</p>
            </div>
            <p style="padding-left: 155px;">Mon to Fri 9am to 6pm</p>
            <div class="d-flex flex-row"> <span><i class="fas fa-envelope flex-icon5"></i></span>
                <p>support@travelkhor.com</p>
            </div>
            <p style="padding-left: 155px;">Send us your query anytime!</p>
        </div>
    </div>
</div>

<%- include('footer') %>
</body>
</html>