<!--   Footer Section Start-->
<section id="footer-section">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-md-6">
                    <div class="d-flex flex-row">
                        <span><i class="fas fa-atlas flex-icon1 text-danger"></i> </span>
                        <p class="logo mx-2 mb-4">Travelkhor</p>
                    </div>
                    <div class="d-flex flex-row">
                        <span><i class="fas fa-home flex-iconf"></i></span>
                        <p class="text-light">2th floor, 1320/10 green road, Dania</p>
                    </div>
                    <div class="d-flex flex-row">

                    </div>
                    <div class="d-flex flex-row">
                        <span><i class="fas fa-mobile-alt flex-iconf"></i> </span>
                        <p class="text-light">+123456789</p>
                    </div>
                    <div class="d-flex flex-row">
                        <span> <i class="fas fa-envelope flex-iconf"></i></span>
                        <p class="text-light">example@email.com</p>
                    </div>
                    <br>
                    <br>

                </div>
                <div class="col-sm-12 col-lg-6 col-md-6">
                    <p class="text-white font-weight-bold"> About the Company</p>
                    <div class="d-flex flex-row text-justify">
                        <p style="color:white;">The best move is to just nest a flexbox inside of a flexbox. All you
                            have to do is give the child align-items: center . This will vertically align the text
                            inside of its parent. Use align-items instead of align-self and I also added
                            flex-direction to column .</p>
                    </div>
                    <div class="d-flex flex-row">
                        <span> </span>
                        <a href="https://facebook.com" class=" flex-icon2"><i class="fab fa-facebook"></i></a>
                        <a href="https://facebook.com" class="ml-4 flex-icon2"><i class="fab fa-twitter"></i></a>
                        <a href="https://facebook.com" class="ml-4 flex-icon2"><i class="fab fa-instagram"></i></a>
                        <a href="https://facebook.com" class="ml-4 flex-icon2"><i class="fab fa-pinterest"></i></a>
                        <a href="https://facebook.com" class="ml-4 flex-icon2"><i class="fab fa-youtube"></i></a>
                    </div>

                </div>

                <hr class="w-100 bg-secondary  rular">

            </div>
            <div class="row">
                <div class="col-12">
                    <p style="padding-bottom: 50px; text-align: center; color:white; padding-top:20px;"> Copyright
                        ©2020 All rights reserved | This web-site is made by
                        <span class="text-primary" style="color:#17a2b8;">
                            Aimagambetov Nariman | SE-2208
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
